<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <servlet>
        <servlet-name>RecognizerServlet</servlet-name>
        <servlet-class>com.musicrecognizer.servlet.RecognizerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecognizerServlet</servlet-name>
        <url-pattern>/recognize</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrainingServlet</servlet-name>
        <servlet-class>com.musicrecognizer.servlet.TrainingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainingServlet</servlet-name>
        <url-pattern>/train</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>